body{
    margin: 0;
    font-family: "Avenir Next";
}

a{
    text-decoration: none;
}

.header-bar a{
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.logo a{
    color: azure;
    letter-spacing: 5px;
    font-weight: bold;
    margin-right: 10px;
}

header {
    height: 65px;
    width: 100%;
    background-color: rgba(23, 29, 31, 0.925);
    position :fixed;
    top: 10px;
    z-index: 10;
  }

.top-wrapper{
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  margin: auto 15px;
}

.top-wrapper h1{
    letter-spacing: 5px;
    font-weight: bold;
    color: rgba(23, 29, 31, 0.925);
    font-size: 140px;
    margin-bottom: 0;
}

.top-wrapper h2{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: lighter;
    letter-spacing: 5px;
    font-size: 60px;
}

span{
    color: rgb(233, 233, 79);
}

.container {
    padding: 0;
    margin: 0;
  }

.top-wrapper img{
    height: 200px;
    width: auto;
}

.about{
    text-align: center;
    height: 300px;
    background-color: #bdc7cc60;
    padding-top: 80px;
}

.about h1,p{
    color: rgba(23, 29, 31, 0.925);
    padding: 0 20px;
}

.projects{
    height: 450px;
    width: 100%;
    text-align: center;
    margin-top: 80px;
}

.project-wrapper{
    display: flex;
    flex-direction: row ;
    justify-content: center;
}

.project-wrapper img{
    height: 180px;
    width: auto;
}

.project-item p{
    text-align: center;
}

.project-item{
    padding: 0 50px;
}

.contact-form{
    background-color: #bdc7cc60;
    height: 700px;
    width: 100%;
    display: grid;
    justify-content: center;
}

.contact-form h1{
    text-align: center;
}


.contact-form input,textarea{
  padding: 20px;
  margin-top: -70px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  width: 700px;
  height: 50px;
}

.contact-submit{
    background-color: blanchedalmond;
    font-size: 18px;
    height: 50px;
    margin-top: -50px;
    border: none;
    border-radius: 10px;
}

.contact-submit:hover{
    background-color: rgb(184, 171, 152);
}

footer{
    background-color: rgb(90, 88, 88);
    height: 200px;
    color: aliceblue;
}

.footer-logo {
    float: left;
    font-size: 32px;
    padding-top: 75px;
    font-weight: bold;
    margin-left: 10px;
  }
  
.footer-list {
    float: right;
    padding-top: 20px;
  }
  
.footer-list li {
    padding-top: 20px;
    list-style-type: none;
    margin-right: 10px;
  }
